body{
    background-color: aliceblue;
    margin: 30px;
    margin-left: 50px;
}
.input-box{
    height: 20px;
    width: 150px;
    border: 1px solid rgb(125, 124, 124);
    border-radius: 3px;
}
.items,.whole{
    padding: 5px;
    display: grid;
    grid-template-columns: 200px 150px 150px;
   column-gap: 10px;
   row-gap: 10px;
   align-items: center;
}
.add-button{
  border: none;
  border-radius: 3px;
    background-color: green;
    color: white;
    padding: 4px;
    margin-left: 10px;
}
.delete_button{
    background-color: red;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 4px;
}